

@font-face {
    font-family: HelveticaNeuecyr;
    src: url(
        "/assets/fonts/helveticaneuecyr_AjQz9/HelveticaNeueCyr/HelveticaNeueCyr UltraLight"
    );
    font-style: normal;
}
.nav-container{
    max-width: 100%;
    .navbar{
        width: 100%;
        height: auto;
        margin: 0 auto;
        border: 2px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        .nav-logo{
            width: auto;
            display: flex;
          
            img{
                width: 184px;
                height: 55px;

            }
            p{
                width: 101px;
                font-size: 10px;
                font-weight: 300;
                line-height:9.88px ;
                font-family: HelveticaNeuecyr;
            }
        }
        .nav-networking{
            width: auto;
            display: flex;
            .nav-connect{
                width: auto;
                p{
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 15.81px;
                }
                .nav-icons{
                    width: auto;
                    display: flex;

                }
            }
        }
    }
}